<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css"/>
    <title>Add new Post</title>
</head>
<body>
    <h2>Please create your data</h2>
    <div class="new">
    <form method="post" action="/posts">
        <input placeholder="Please Enter a name" name="username"/><br/><br/>
        <textarea placeholder="Write the content" name="content"></textarea><br/><br/>
        <button class="btn">Submit</button>
    </form>
    </div>
    
</body>
</html>