h1{
    color:rgb(99, 99, 119);
}

div{
    background-color:lightpink;
}
.user{
    font-style:italic;
}

h2{
    color:lightcoral;
    font-size:50px;
    ;
}
.new{
    color:rgb(12, 11, 10);
    background-color:rgb(197, 149, 149);
}
.btn{
    color:black;
    background-color: rgb(230, 235, 223);
    font-style:italic;
}
.text{
    background-color: rgb(231, 226, 224);
    border:5px solid black;
}  
.pa{
    color:darkslategray;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} 



